<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="upload" enctype="multipart/form-data">
    <div>
        file : <input type="file" name="files" multiple id="fileInput">
    </div>
    <div>
        <p id="errorText" style="color: red;" th:text="${errorMessage}"></p>
    </div>
    <input type="submit">
</form>

<script>
    document.getElementById("fileInput").addEventListener("change", function (event) {
        const files = event.target.files;
        const errorText = document.getElementById("errorText");
        const allowedMimeTypes = ['image/jpeg', 'image/png', 'image/gif'];
        const MAX_FILE_COUNT = 10;
        const MAX_FILE_SIZE = 10 * 1024 * 1024;
        const MB = 1024 * 1024;
        errorText.textContent = ""; // 오류 메시지 초기화

        if (files.length > 10) {
            errorText.textContent = "최대 " + MAX_FILE_COUNT + "개의 파일만 업로드할 수 있습니다.";
            event.target.value = ""; // 파일 선택 초기화
            return;
        }

        for (let file of files) {
            console.log(file.type);

            if (!allowedMimeTypes.includes(file.type)) {
                errorText.textContent = "이미지 파일만 업로드할 수 있습니다.";
                event.target.value = ""; // 파일 선택 초기화
                return;
            }

            if (file.size > 10 * 1024 * 1024) { // 10MB 초과 여부 확인
                errorText.textContent = "각 파일은 최대 " + MAX_FILE_SIZE / MB + "MB까지 업로드 가능합니다.";
                event.target.value = ""; // 파일 선택 초기화
                return;
            }
        }
    });
</script>

</body>
</html>