<div class="flex justify-center items-center h-16" th:fragment="HeaderFragment">
    <nav class="w-full">
        <div class="container mx-auto flex items-center justify-between h-16">
            <!-- 왼쪽: 로고 -->
            <div class="flex items-center ml-4">
                <a href="/" class="flex items-center">
                    <img src="/images/logo.png" alt="끼이익 - 수리비 예측" class="h-10">
                </a>
            </div>

            <!-- 가운데: 설명 -->
            <div class="absolute left-1/2 transform -translate-x-1/2 text-sm font-semibold text-black">
                끼이익, 사진으로 알아보는 차량 수리 견적
            </div>

            <!-- 오른쪽: 필요 시 추가 요소, 없으면 빈 div -->
            <div class="mr-4">
                <!-- 빈 공간 또는 오른쪽 요소 -->
            </div>
        </div>
    </nav>
</div>
