<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>끼이익, 사진으로 예상 수리비 알아보기</title>
    <meta name="description" content="끼이익 - 사진으로 예상 수리비 알아보기">
    <meta charset="UTF-8"
          name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="6L1jOoKQelZuEhumFD4dX8eIqOxA4q0yM-3tg7v96CA" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        /* 헤더 색상 변경 */
        header {
            background-color: #343a40; /* 어두운 배경 색상 */
            color: white; /* 텍스트 색상 */
        }

        /* 본문 색상 변경 */
        main {
            background-color: #f8f9fa; /* 밝은 배경 색상 */
            min-height: 400px; /* 최소 높이 설정 */
        }
    </style>
</head>
<body>
<!-- 헤더 영역 -->
<header th:replace="common/fragment/header/header :: HeaderFragment"></header>

<!-- 본문 영역 -->
<main class="p-6 pt-5 bg-light">
    <th:block layout:fragment="content"></th:block>
</main>

<footer></footer>
</body>
</html>
